.landing-text {
  font-size: 14px;
  @media(min-width: 1200px){
    font-size: 16px;
  }
  h1, h2, h3 {
    &:first-child {
      margin-top: 0;
    }
  }
  ul, ol {
    li {
      margin-bottom: 0.5rem;
    }
  }
  ul {
    li {
      line-height: 1.4;

      &::marker {
        color: #FF6A29;
      }
    }
  }
  .green {
    color: #93BB3E;
  }
  blockquote {
    margin: 30px 0;
  }
  .welfare {
    margin: 30px 0;
  }

  h2, h3 {
    margin-top: 2rem;
  }
}