.footer  {

  &__logo {
    border-bottom: 1px solid #E9E9E9;
    padding: 25px 0;
    @media(min-width: 768px){
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__nav {
    padding: 10px 0;
    border-bottom: 1px solid #E9E9E9;
  }

  &__bottom {
    padding: 25px 0;
  }

  &__disclaimer {
    font-size: 14px;
    color: #000000;
    opacity: 0.5;
    padding-bottom: 20px;
  }

  .logo {
    &--geromedicine {
      width: auto;
      margin: 0 0 15px;
      @media(min-width: 768px){
        width: 210px;
        margin: 0;
      }
      @media(min-width: 1200px){
        width: 230px;
      }
    }
    &--support {
      width: 100%;
      max-width: 50%;
      @media(min-width: 768px){
        width: 124px;
        max-width: none;
      }
      @media(min-width: 1200px){
        width: 190px;
      }
    }
    &--alfa-insurance {
      width: 100%;
      max-width: 50%;
      @media(min-width: 768px){
        width: 110px;
        max-width: none;
      }
      @media(min-width: 1200px){
        width: 153px;
      }
    }
    &--standard-bank {
      width: 100%;
      max-width: 50%;
      @media(min-width: 768px){
        width: 125px;
        max-width: none;
      }
      @media(min-width: 1200px){
        width: 214px;
      }
    }
    &--sogaz-med {
      width: 100%;
      max-width: 50%;
      @media(min-width: 768px){
        width: 64px;
        max-width: none;
      }
      @media(min-width: 1200px){
        width: 105px;
      }
    }
  }

}
