.footer-logo {
  &__additional {
    display: flex;
    flex-wrap: wrap;
    .logo {
      padding: 10px;
      @media(min-width: 768px){
        flex: none;
        padding: 0;
        &:not(:last-child){
          margin-right: 10px;
        }
      }
    }
  }
}