.reviews-slider.swiper
  .swiper-wrapper
    .swiper-slide
      .review-card
        .review-card__name Марина Степановна
        .review-card__text Очень толковый врач, произвел очень хорошее впечатление. У меня была достаточно не простая ситуация после удаления зуба, распухла щека. К местной стоматологии я не прикреплена, а в поликлинике сказали, что это не к ним. Никто не хотел мне выписать больничный. Руслан Иванович провел осмотр, выписал мне рецепт и больничный, ответил на все интересующие меня вопросы, посоветовал сдать кровь. Компетентный, вежливый, уважительный доктор. Я осталась довольна приемом. Большая ему благодарность за то, что он за меня взялся и не отправил, как другие врачи!
    .swiper-slide
      .review-card
        .review-card__name Ирина Васильевна
        .review-card__text У меня только положительные впечатления о работе этой клиники. Доктор с опытом, очень чуткая, внимательная, все понятно разъяснила, проверила. Сказала, что и как делать. Если мне потребуется, приду только в клинику ГЕРОМЕДИЦИНА.
    .swiper-slide
      .review-card
        .review-card__name Елена
        .review-card__text Вызывала врача на дом. Максим Владимирович общительный, внимательный и добрый доктор. Чувствуется желание помочь. Врач ответил на все мои вопросы, всё доступно объяснил, осмотрел и назначил анализы. Посоветовал обратиться к кардиологу. Приемом я осталась довольна.
    .swiper-slide
      .review-card
        .review-card__name Анастасия
        .review-card__text Шутова Татьяна Николаевна отличный специалист! Ее цель - действительно помочь, а не просто выслушать. Задавала грамотные вопросы, исходя из которых и выяснялись источники и причины проблемы. Дала полезные рекомендации, методики. Очень благодарна врачу за оказанную помощь!
    .swiper-slide
      .review-card
        .review-card__name Жанна
        .review-card__text Быстрая запись к врачу, приняли в этот же день, невролог спокойный, понимающий и опытный врач.
    .swiper-slide
      .review-card
        .review-card__name Надежда
        .review-card__text Посетила клинику впервые. Очень  рада , что обратилась именно сюда.  Получила качественное и грамотное обслуживание. Доктор Носова А Г.на УЗИ все подробно описала и показала. Хороший доктор и приятный  человек. Клиника мне подходит по всем критериям. Планирую обращаться неоднократно только сюда. Благодарю персонал за качественное обслуживание.
  .swiper-btn-prev
    svg(class="svg-icon" viewBox="0 0 17 12" width="17" height="12"): use(xlink:href="#svg-slider-arrow-prev")
  .swiper-btn-next
    svg(class="svg-icon" viewBox="0 0 17 12" width="17" height="12"): use(xlink:href="#svg-slider-arrow-next")
