extends layouts/main

block header
  include layouts/header

block content
  nav(aria-label="breadcrumb" class="breadcrumb-place" style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);")
    .container
      ol.breadcrumb
        li.breadcrumb-item: a(href="/"): svg(class="svg-icon" viewBox="0 0 14 14" width="14" height="14"): use(xlink:href="#svg-breadcrumb-home")
        li.breadcrumb-item.active Статьи

  .page__content
    .container
      h1.page__title Статьи о здоровье
      .article-list
        .article-list__search
          .c-search
            .c-search__field
              input(type="text" placeholder="Поиск")
            button(type="submit").c-search__submit
              svg(class="svg-icon" viewBox="0 0 16 17" width="16" height="17"): use(xlink:href="#svg-search")
        .article-list__container
          .article-list__item
            a.article-card(href="article-detail.html")
              .article-card__picture: img(src="images/article_12.png")
              .article-card__info
                .article-card__title Заболевание щитовидной железы: симптомы у женщин
                .article-card__btn
                  .btn.btn-outline-primary читать
          .article-list__item
            a.article-card(href="article-detail.html")
              .article-card__picture: img(src="images/article_11.png")
              .article-card__info
                .article-card__title Панические атаки: причины, признаки, методы лечения
                .article-card__btn
                  .btn.btn-outline-primary читать
          .article-list__item
            a.article-card(href="article-detail.html")
              .article-card__picture: img(src="images/article_10.png")
              .article-card__info
                .article-card__title Аутоиммунный тиреоидит: симптомы, причины и лечение
                .article-card__btn
                  .btn.btn-outline-primary читать
          .article-list__item
            a.article-card(href="article-detail.html")
              .article-card__picture: img(src="images/article_09.png")
              .article-card__info
                .article-card__title Причины и симптомы шизофрении
                .article-card__btn
                  .btn.btn-outline-primary читать
          .article-list__item
            a.article-card(href="article-detail.html")
              .article-card__picture: img(src="images/article_01.png")
              .article-card__info
                .article-card__title Антицеллюлитный массаж: какой вид выбрать
                .article-card__btn
                  .btn.btn-outline-primary читать
          .article-list__item
            a.article-card(href="article-detail.html")
              .article-card__picture: img(src="images/article_02.png")
              .article-card__info
                .article-card__title Аппаратная косметология: процедуры без хирургического вмешательства
                .article-card__btn
                  .btn.btn-outline-primary читать
          .article-list__item
            a.article-card(href="article-detail.html")
              .article-card__picture: img(src="images/article_03.png")
              .article-card__info
                .article-card__title Инъекция ботокса: чего ждать от процедуры
                .article-card__btn
                  .btn.btn-outline-primary читать
          .article-list__item
            a.article-card(href="article-detail.html")
              .article-card__picture: img(src="images/article_04.png")
              .article-card__info
                .article-card__title Советы трихологов тем, кто хочет отрастить длинные волосы
                .article-card__btn
                  .btn.btn-outline-primary читать
          .article-list__item
            a.article-card(href="article-detail.html")
              .article-card__picture: img(src="images/article_05.png")
              .article-card__info
                .article-card__title Что можно сделать если на теле появился целлюлит
                .article-card__btn
                  .btn.btn-outline-primary читать
          .article-list__item
            a.article-card(href="article-detail.html")
              .article-card__picture: img(src="images/article_06.png")
              .article-card__info
                .article-card__title Международный день пожилого человека
                .article-card__btn
                  .btn.btn-outline-primary читать
          .article-list__item
            a.article-card(href="article-detail.html")
              .article-card__picture: img(src="images/article_07.png")
              .article-card__info
                .article-card__title Симптоматика болезни Паркинсона
                .article-card__btn
                  .btn.btn-outline-primary читать
          .article-list__item
            a.article-card(href="article-detail.html")
              .article-card__picture: img(src="images/article_08.png")
              .article-card__info
                .article-card__title Рассеянный склероз у пожилых
                .article-card__btn
                  .btn.btn-outline-primary читать

        .article-list__pagination
          include components/pagination

  include components/map

  include components/modals/example_modal

block footer
  include layouts/footer