extends layouts/main

block header
  include layouts/header

block content
  nav(aria-label="breadcrumb" class="breadcrumb-place")
    .container
      ol.breadcrumb
        li.breadcrumb-item: a(href="/"): svg(class="svg-icon" viewBox="0 0 14 14" width="14" height="14"): use(xlink:href="#svg-breadcrumb-home")
        li.breadcrumb-item: a(href="stock.html") Статьи о здоровье
        li.breadcrumb-item.active Антицеллюлитный массаж: какой вид выбрать
  .page__content
    .container
      .article-post
        .article-post__header
          .article-header
            .article-header__container
              .article-header__info
                .article-header__top
                  h1 Антицеллюлитный массаж: какой вид выбрать
                  p Целлюлит чаще всего появляется в местах, где скапливается жировая ткань: на бедрах, животе, задней поверхности ног. Апельсиновая корочка не является признаком плохого здоровья или неправильного ухода. Целлюлит появляется практически у каждой второй женщины, и у каждого десятого мужчины. Но мало кто принимает изменения тела.
              .article-header__picture
                img(src="images/article-detail-picture.png")

        .article-post__content.simple-text
          p Целлюлит чаще всего появляется в местах, где скапливается жировая ткань: на бедрах, животе, задней поверхности ног. Апельсиновая корочка не является признаком плохого здоровья или неправильного ухода. Целлюлит появляется практически у каждой второй женщины, и у каждого десятого мужчины. Но мало кто принимает изменения тела.
          p К счастью, избавиться от подкожных бугорков реально. Кроме правильного питания, активных занятий спортом, необходимо регулярно делать антицеллюлитный массаж. Проработка глубоких тканей позволяет разбить подкожные бугорки и вывести остатки жировых клеток из организма. Существует несколько видов антицеллюлитного массажа. Каждый из них имеет свои преимущества и недостатки. Перед тем как начинать курс, рекомендуется изучить информацию о каждой процедуре.
          h3 Медовый антицеллюлитный массаж с проработкой с глубоких тканей
          p Чтобы разбить плотную подкожно-жировую клетчатку, необходимо добраться до мышц и фасций. С этой целью специалисты делают антицеллюлитный массаж с проработкой глубоких тканей. Вместо масла или лосьона используется подогретый жидкий мед. Процедура выполняется без дополнительных приспособлений, руками. Ощущения бывают неприятными, а после завершения, на теле могут остаться синяки. Считается, что именно с помощью медового массажа можно достичь оптимальных результатов.
          h3 Лимфодренажная проработка
          p У некоторых людей целлюлит появляется на фоне патологической задержки воды в организме. Если кроме апельсиновой корки на теле есть лимфедемы, специалист рекомендует пройти курс лимфодренажного антицеллюлитного массажа живота и ног. Но у процедуры есть строгие противопоказания. Лимфодренаж запрещен при раковых заболеваниях, воспалительных процессах на острой стадии. Если же противопоказаний нет, сочетание двух типов массажей (лимфодренажного и глубокого) обязательно поможет добиться желаемых результатов.
          h3 Как делать антицеллюлитный массаж «Драйбрашинг»
          p Растирание тела сухой щеткой — эффективный метод борьбы с неглубокой апельсиновой корочкой. Нужно понимать, что жесткая щетина влияет только на эпидермис, но точно не достанет до слоя дермы, где находится целлюлит. Драйбрашинг — это антицеллюлитный массаж бедер и ягодиц. Кожа в этих зонах более плотная. А вот растирание живота может закончиться появлением царапин и кровоподтеков. Чтобы избежать осложнений, рекомендуется обрабатывать кожу круговыми движениями. После завершения процедуры нанести на разогретые ягодицы крем или лосьон с антицеллюлитным эффектом.
          h3 Антицеллюлитный массаж банкой с вакуумом и роликами
          p Профессиональные массажисты часто комбинируют аппаратные техники с мануальными. Самый популярный аппарат: вакуумно-роликовый массажер. Достаточно приложить банку к проблемной зоне и прибор отсосёт воздух, создаст вакуум нужного уровня. Кожа под банкой вздуется, стенки жировых клеток разрушатся. Дополнительная обработка роликами позволит выровнять рельеф тела. У процедуры есть противопоказания: слабые стенки сосудов, истонченная чувствительная кожа. Вакуумно-роликовый антицеллюлитный баночный массаж занимает первые места в рейтингах эффективных процедур.
          h3 Классический антицеллюлитный массаж банками
          p Обработка проблемных зон банками резиновыми с грушами на конце является «домашней» альтернативой профессиональной процедуре. Вместо включения аппарата, высасывающего воздух из банки, достаточно просто сжать грушу. Простое и недорогое приспособление позволяет обработать только поверхностные слои кожи. Зато риск развития побочных эффектов меньше. Банками разрешено обрабатывать нежную кожу живота, руки. Можно начать домашнюю процедуру с баночного массажа, а как только кровь прильет к проблемным зонам, перейти к более глубокой проработке.


        .article-post__block
          .recommend-list
            .recommend-list__title: h2 Также рекомендуем обследования
            .recommend-list__container
              .recommend-list__item
                a(href="#").service-card
                  .service-card__picture: img(src="images/service-card-01.png")
                  .service-card__info
                    .service-card__name Косметический массаж
              .recommend-list__item
                a(href="#").service-card
                  .service-card__picture: img(src="images/service-card-02.png")
                  .service-card__info
                    .service-card__name Химический пилинг
              .recommend-list__item
                a(href="#").service-card
                  .service-card__picture: img(src="images/service-card-03.png")
                  .service-card__info
                    .service-card__name Косметические маски
              .recommend-list__item
                a(href="#").service-card
                  .service-card__picture: img(src="images/service-card-04.png")
                  .service-card__info
                    .service-card__name Ультразвуковая чистка

        .article-post__block
          include components/doctor-call

        .article-post__reviews
          h2 Отзывы
          include components/reviews/slider
          a(href="reviews.html").btn.btn-more
            span Смотреть все
            svg(class="svg-icon" viewBox="0 0 19 13" width="19" height="13"): use(xlink:href="#svg-btn-arrow-right")




  include components/map

block footer
  include layouts/footer