.online-consult-header {
  background: #F5F5F5;
  margin: 0 -15px;
  @media(min-width: 576px) {
    margin: 0;
    border-radius: 10px;
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
  }

  &__info, &__picture {
    width: 100%;
    max-width: 100%;
    flex: 0 0 100%;
    @media(min-width: 992px) {
      max-width: 50%;
      flex: 0 0 50%;
    }
  }

  &__info {
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media(min-width: 768px) {
      padding: 35px 30px;
    }
  }

  &__picture {
    position: relative;
    padding-top: 20%;
    overflow: hidden;
    border-radius: 10px 0 10px 10px;

    @media(min-width: 992px){
      border-radius: 0 10px 10px 0;
    }

    img {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      z-index: 10;
      width: 100%;
      height: 50%;
      background: linear-gradient(to top, rgba(245, 245, 245, 0), rgba(245, 245, 245, 1));
      @media(min-width: 992px) {
        width: 70%;
        height: 100%;
        background: linear-gradient(to left, rgba(245, 245, 245, 0), rgba(245, 245, 245, 1));
      }
    }
  }

  &__title {
    margin: 0 0 30px;
  }
}