.checkbox {
  font-size: 16px;
  margin: 0;
  &:hover {
    .checkbox__cr {
      border-color: #FF6A29;
    }
    input {
      &:checked + .checkbox__cr {
        &:after {
          color: #FF6A29;
        }
      }
    }
  }
  &__cr {
    position: relative;
    margin: 0;
    width: 16px;
    height: 16px;
    border: 1px solid #EDF1D3;
    top: 0;
    left: 0;
    flex: 0 0 16px;
    background: #ffffff;
    border-radius: 2px;
  }
  label {
    padding: 0;
    margin: 0;
    user-select: none;
    cursor: pointer;
    line-height: 1.3;
    position: relative;
    display: flex;
    align-items: flex-start;
    &:after {
      content: '';
      display: table;
      clear: both;
    }
  }
  input {
    display: none;
    &:checked + .checkbox__cr {
      border-color: #EDF1D3;
      &:after {
        content: "";
        position: absolute;
        top: 3px;
        left: 3px;
        width: 8px;
        height: 8px;
        background-color: #FF6A29;
        font-size: 19px;
      }
    }
  }

  &__text {
    padding: 0 0 0 10px;
    font-family: $baseFont;
    color: #3C3C51;
    line-height: 1.2;
    font-size: 14px;
    @media(min-width: 576px){
      font-size: 16px;
    }
    a, span {
      text-decoration: underline;
      color: inherit;
    }
  }
}