.breadcrumb {
  margin: 0;

  &-item {
    color: #9999A3;
    font-size: 12px;
    @media(min-width: 1200px){
      font-size: 14px;
    }

    &.active {
      color: #9999A3;
    }

    & + .breadcrumb-item {
      &::before {
        content: "\203A";
        color: #9999A3;
      }
    }

    a {
      color: inherit;
      text-decoration: none;
    }
  }
}

.breadcrumb-place {
  background: #F5F5F5;
  padding: 10px 0;
}