.doctors-slider {
  padding: 10px 10px 28px 10px;
  margin: 0 -10px;
  overflow: visible;
  position: relative;
  @media(min-width: 1400px){
    overflow: hidden;
    &:before {
      content: "";
      position: absolute;
      width: 50px;
      height: 100%;
      top: 0;
      left: 0;
      background: linear-gradient(to left, rgba(247, 247, 247, 0), #ffffff);
      z-index: 10;
    }
    &:after {
      content: "";
      position: absolute;
      width: 50px;
      height: 100%;
      top: 0;
      right: 0;
      background: linear-gradient(to right, rgba(247, 247, 247, 0), #ffffff);
      z-index: 10;
    }
  }

  &:hover {
    .swiper-btn-prev, .swiper-btn-next {
      opacity: 1;
    }
  }

  .swiper-slide {
    width: 208px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(60, 60, 81, 0.12);
    height: auto;
    overflow: hidden;
    &:hover {
      box-shadow: 0 8px 28px rgba(0, 0, 0, 0.1);
    }
  }

  .swiper-btn-prev, .swiper-btn-next {
    position: absolute;
    top: 45%;
    opacity: 0;
  }

  .swiper-btn-prev {
    left: 5px;
  }

  .swiper-btn-next {
    right: 5px;
  }
}