.popular-services
  .popular-services__list
    .popular-services__item
      a.popular-service-card(href="#")
        .popular-service-card__icon
          svg(class="svg-icon" viewBox="0 0 60 60" width="60" height="60"): use(xlink:href="#svg-service-virus")
        .popular-service-card__name Тестирование на COVID-19
    .popular-services__item
      a.popular-service-card(href="#")
        .popular-service-card__icon
          svg(class="svg-icon" viewBox="0 0 60 60" width="60" height="60"): use(xlink:href="#svg-service-ozone")
        .popular-service-card__name Процедуры озонотерапии
    .popular-services__item
      a.popular-service-card(href="#")
        .popular-service-card__icon
          svg(class="svg-icon" viewBox="0 0 60 60" width="60" height="60"): use(xlink:href="#svg-service-prp-therapy")
        .popular-service-card__name PRP-терапия
    .popular-services__item
      a.popular-service-card(href="#")
        .popular-service-card__icon
          svg(class="svg-icon" viewBox="0 0 60 60" width="60" height="60"): use(xlink:href="#svg-service-disabled")
        .popular-service-card__name Гериатрия
    .popular-services__item
      a.popular-service-card(href="#")
        .popular-service-card__icon
          svg(class="svg-icon" viewBox="0 0 60 60" width="60" height="60"): use(xlink:href="#svg-service-dropper-detox")
        .popular-service-card__name Капельница детокс-алкоголь
    .popular-services__item
      a.popular-service-card(href="#")
        .popular-service-card__icon
          svg(class="svg-icon" viewBox="0 0 60 60" width="60" height="60"): use(xlink:href="#svg-service-dropper-health")
        .popular-service-card__name Капельница для здоровья и красоты
    .popular-services__item
      a.popular-service-card(href="#")
        .popular-service-card__icon
          svg(class="svg-icon" viewBox="0 0 60 60" width="60" height="60"): use(xlink:href="#svg-service-cardiology")
        .popular-service-card__name Кардиология
    .popular-services__item
      a.popular-service-card(href="#")
        .popular-service-card__icon
          svg(class="svg-icon" viewBox="0 0 60 60" width="60" height="60"): use(xlink:href="#svg-service-covid-rehabilitation")
        .popular-service-card__name Реабилитация после COVID-19
    .popular-services__item
      a.popular-service-card(href="#")
        .popular-service-card__icon
          svg(class="svg-icon" viewBox="0 0 60 60" width="60" height="60"): use(xlink:href="#svg-service-gynecology")
        .popular-service-card__name Гинекология
    .popular-services__item
      a.popular-service-card(href="#")
        .popular-service-card__icon
          svg(class="svg-icon" viewBox="0 0 60 60" width="60" height="60"): use(xlink:href="#svg-service-dermatology")
        .popular-service-card__name Дерматология и венерология
    .popular-services__item
      a.popular-service-card(href="#")
        .popular-service-card__icon
          svg(class="svg-icon" viewBox="0 0 60 60" width="60" height="60"): use(xlink:href="#svg-service-traumatology")
        .popular-service-card__name Травматология и ортопедия
    .popular-services__item
      a.popular-service-card(href="#")
        .popular-service-card__icon
          svg(class="svg-icon" viewBox="0 0 60 60" width="60" height="60"): use(xlink:href="#svg-service-psychiatry")
        .popular-service-card__name Психиатрия
    .popular-services__item
      a.popular-service-card(href="#")
        .popular-service-card__icon
          svg(class="svg-icon" viewBox="0 0 60 60" width="60" height="60"): use(xlink:href="#svg-service-medical-patronage")
        .popular-service-card__name Медицинский патронаж
    .popular-services__item
      a.popular-service-card(href="#")
        .popular-service-card__icon
          svg(class="svg-icon" viewBox="0 0 60 60" width="60" height="60"): use(xlink:href="#svg-service-laennec")
        .popular-service-card__name Лаеннек
    .popular-services__item
      a.popular-service-card(href="#")
        .popular-service-card__icon
          svg(class="svg-icon" viewBox="0 0 60 60" width="60" height="60"): use(xlink:href="#svg-service-infusion-therapy")
        .popular-service-card__name Инфузионная терапия
    .popular-services__item
      a.popular-service-card(href="#")
        .popular-service-card__icon
          svg(class="svg-icon" viewBox="0 0 60 60" width="60" height="60"): use(xlink:href="#svg-service-dropper-covid")
        .popular-service-card__name Капельницы после COVID-19
