.service-card {
  color: inherit;
  text-decoration: none;
  &:hover {
    color: inherit;
    .service-card__picture {
      box-shadow: 0 4px 12px rgba(60, 60, 81, 0.12);
    }
  }
  &__picture {
    position: relative;
    padding-top: 62%;
    border-radius: 10px;
    overflow: hidden;
    margin: 0 0 15px;
    @media(min-width: 1200px){
      margin: 0 0 20px;
    }
    img {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__name {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.3;
    @media(min-width: 1200px){
      font-size: 20px;
    }
  }
}