nav.nav.nav--main
  ul.nav__list
    li.nav__item
      a(href="/").nav__link.active: span О клинике
      .nav__sub
        ul
          li: a(href="about.html") Инфо о клинике
          li: a(href="legal-docs.html") Лицензии и документы
          li: a(href="reviews.html") Отзывы
          li: a(href="vacancies.html") Вакансии
          li: a(href="#") Школа гериатрии
    li.nav__item
      a(href="/").nav__link: span Диагностика
      .nav__sub
        ul
          li: a(href="#") УЗИ
          li: a(href="#") ЭКГ
          li: a(href="#") Холтер-мониторинг
          li
            a(href="#") Программы обследования
            svg(class="svg-icon" viewBox="0 0 7 11" width="7" height="11"): use(xlink:href="#svg-submenu-arrow")
              ul
                li: a(href="") Паспорт женского здоровья
                li: a(href="") Нарушение меструального цикла
                li: a(href="") Проверьте сердце
          li: a(href="#") УЗИ мягких тканей лица
          li
            a(href="#") Анализы
            svg(class="svg-icon" viewBox="0 0 7 11" width="7" height="11"): use(xlink:href="#svg-submenu-arrow")
              ul
                li: a(href="") Тестирование на COVID-19
                li: a(href="calculator.html") Калькулятор стоимости анализов
    li.nav__item
      a(href="/").nav__link: span Косметология
      .nav__sub
        ul
          li: a(href="#") Контурная пластика
          li: a(href="#") Биоревитализация
          li: a(href="#") Мезонити
          li: a(href="#") Мезотерапия
          li: a(href="#") Химический пилинг
          li: a(href="#") Ультразвуковая чистка
          li: a(href="#") Косметические маски
          li: a(href="#") Косметический массаж
    li.nav__item
      a(href="/").nav__link: span Услуги
      .nav__sub
        ul
          li: a(href="#") PRP-терапия
          li: a(href="#") Плазмотерапия
          li: a(href="#") Капельницы для здоровья и красоты
          li: a(href="#") Подбор очков
          li: a(href="#") Медицинский уход на дому
          li: a(href="#") Лечебный массаж
          li: a(href="#") Лечебная физкультура
          li: a(href="#") Ботокс
          li: a(href="#") Паравертебральные блокады
          li: a(href="#") Внутрисуставные инъекции
          li: a(href="#") Лечение акне
          li: a(href="#") Озонотерапия
          li: a(href="#") Капельницы с препаратом "Лаеннек"
          li: a(href="#") Капельницы "Детокс - алкоголь"
          li: a(href="#") Инфузионная терапия (капельницы)
          li: a(href="#") Капельницы после COVID-19
          li: a(href="#") Предрейсовый осмотр
    li.nav__item
      a(href="programs.html").nav__link: span Программы
    li.nav__item
      a(href="/").nav__link: span Запись к врачу
      .nav__sub
        ul
          li: a(href="#") Гериатр (Геронтолог)
          li: a(href="#") Терапевт
          li: a(href="#") Невролог
          li: a(href="#") Кардиолог
          li: a(href="#") Эндокринолог
          li: a(href="#") Дерматовенеролог
          li: a(href="#") Офтальмолог
          li: a(href="#") Гинеколог
          li: a(href="#") Уролог
          li: a(href="#") Травматолог-ортопед
          li: a(href="#") Гастроэнтеролог
          li: a(href="#") Психиатр
          li: a(href="#") Отоларинголог
    li.nav__item
      a(href="/").nav__link: span Выезд на дом
      .nav__sub
        ul
          li: a(href="#") Патронаж
          li
            a(href="service-home-doctor.html") Врач на дом
            svg(class="svg-icon" viewBox="0 0 7 11" width="7" height="11"): use(xlink:href="#svg-submenu-arrow")
            ul
              li: a(href="") Гериатор
              li: a(href="") Терапевт
              li: a(href="") Невролог
              li: a(href="") Кардиолог
              li: a(href="#") Эндокринолог
              li: a(href="#") Дерматовенеролог
              li: a(href="#") Офтальмолог
              li: a(href="#") Гинеколог
              li: a(href="#") Уролог
              li: a(href="#") Травматолог-ортопед
              li: a(href="#") Гастроэнтеролог
              li: a(href="#") Психиатр
    li.nav__item
      a(href="stock.html").nav__link: span Акции
    li.nav__item
      a(href="prices.html").nav__link: span Цены
    li.nav__item
      a(href="contacts.html").nav__link: span Контакты