.page-link {
  border: none;
  color: #93BB3E;
  font-size: 16px;
  font-weight: 600;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    background: #EDF1D3;
    color: #93BB3E;
  }
}

.page-item {
  &.active {
    .page-link {
      background: #EDF1D3;
      color: #93BB3E;
    }
  }
  &:last-child, &:first-child {
    .page-link {
      border-radius: 50%;
    }
  }
}