.call-steps
  .call-steps__list
    .call-steps__item
      .call-steps__picture
      .call-steps__text Позвоните или оставьте заявку на обратный звонок
    .call-steps__item
      .call-steps__picture
      .call-steps__text Оператор согласует с вами дату и время приезда
    .call-steps__item
      .call-steps__picture
      .call-steps__text Врач нашей клиники приедет к Вам домой