.doctor-call
  .doctor-call__container
    .doctor-call__info
      .doctor-call__title Узнать подробности и записаться на Check-up для пожилого человека, звоните по телефону:
      a(href="tel:+74950853485").doctor-call__phone +7 (495) 085-34-85
      .doctor-call__time ежедневно по будням с 9:00 до 21:00.
      .doctor-call__buttons
        a(href="tel:+74950853485").btn.btn-primary Позвонить
        .btn.btn-secondary(data-bs-toggle="modal" data-bs-target="#backCallModal") Заказать обратный звонок
    .doctor-call__picture
      img(src="images/doctor-call-woman.png")