.prepare-analyzes
  .prepare-analyzes__container
    .prepare-analyzes__info
      .prepare-analyzes__title Не знаете как подготовится и что нужно перед сдачей анализов?
      .prepare-analyzes__buttons
        a(href="#").btn.btn-outline-primary Подготовка к исследованиям
    .prepare-analyzes__picture
      img(src="images/doctor-man.png")