.promo-slider.swiper
  .swiper-wrapper
    .swiper-slide
      .promo-slide
        .promo-slide__container
          .promo-slide__info
            .promo-slide__content
              .promo-slide__type
              .promo-slide__title: a(href="#") Специальные предложения в ноябре
              .promo-slide__description Скидки до 50% на услуги в косметологии, озонотерапию и программы обследований.
            .promo-slide__button
              a(href="#").btn.btn-primary Подробнее
          .promo-slide__img: img(src="images/promo_slide_648х400_01.jpg")
    .swiper-slide
      .promo-slide
        .promo-slide__container
          .promo-slide__info
            .promo-slide__content
              .promo-slide__type
              .promo-slide__title: a(href="#") Консультация + осмотр гинеколога скидка 50%
              .promo-slide__description
            .promo-slide__button
              a(href="#").btn.btn-primary Подробнее
          .promo-slide__img: img(src="images/promo_slide_648х400_02.jpg")
    .swiper-slide
      .promo-slide
        .promo-slide__container
          .promo-slide__info
            .promo-slide__content
              .promo-slide__type Акция
              .promo-slide__title: a(href="#") Скидка 50% на плазмотерапию
              .promo-slide__description
            .promo-slide__button
              a(href="#").btn.btn-primary Подробнее
          .promo-slide__img: img(src="images/promo_slide_648х400_03.jpg")
    .swiper-slide
      .promo-slide
        .promo-slide__container
          .promo-slide__info
            .promo-slide__content
              .promo-slide__type
              .promo-slide__title: a(href="#") Скидка на диагностику COVID-19 с помощью УЗИ легких
              .promo-slide__description
            .promo-slide__button
              a(href="#").btn.btn-primary Подробнее
          .promo-slide__img: img(src="images/promo_slide_648х400_04.jpg")
    .swiper-slide
      .promo-slide
        .promo-slide__container
          .promo-slide__info
            .promo-slide__content
              .promo-slide__type
              .promo-slide__title: a(href="#") Капельница Золушки
              .promo-slide__description
            .promo-slide__button
              a(href="#").btn.btn-primary Подробнее
          .promo-slide__img: img(src="images/promo_slide_648х400_05.jpg")
    .swiper-slide
      .promo-slide
        .promo-slide__container
          .promo-slide__info
            .promo-slide__content
              .promo-slide__type
              .promo-slide__title: a(href="#") Капельницы с витаминами
              .promo-slide__description Для поддержания внешней красоты и внутреннего здоровья!
            .promo-slide__button
              a(href="#").btn.btn-primary Подробнее
          .promo-slide__img: img(src="images/promo_slide_648х400_06.jpg")
    .swiper-slide
      .promo-slide
        .promo-slide__container
          .promo-slide__info
            .promo-slide__content
              .promo-slide__type
              .promo-slide__title: a(href="#") Медицинский массаж со скидкой!
              .promo-slide__description
            .promo-slide__button
              a(href="#").btn.btn-primary Подробнее
          .promo-slide__img: img(src="images/promo_slide_648х400_07.jpg")
    .swiper-slide
      .promo-slide
        .promo-slide__container
          .promo-slide__info
            .promo-slide__content
              .promo-slide__type
              .promo-slide__title: a(href="#") Скидка 50% на первую процедуру!
              .promo-slide__description
            .promo-slide__button
              a(href="#").btn.btn-primary Подробнее
          .promo-slide__img: img(src="images/promo_slide_648х400_08.jpg")
    .swiper-slide
      .promo-slide
        .promo-slide__container
          .promo-slide__info
            .promo-slide__content
              .promo-slide__type Акция
              .promo-slide__title: a(href="#") Приведи друга и получи скидку 15%
              .promo-slide__description
            .promo-slide__button
              a(href="#").btn.btn-primary Подробнее
          .promo-slide__img: img(src="images/promo_slide_648х400_09.jpg")
    .swiper-slide
      .promo-slide
        .promo-slide__container
          .promo-slide__info
            .promo-slide__content
              .promo-slide__type
              .promo-slide__title: a(href="#") Скидки для всей семьи
              .promo-slide__description
            .promo-slide__button
              a(href="#").btn.btn-primary Подробнее
          .promo-slide__img: img(src="images/promo_slide_648х400_10.jpg")
    .swiper-slide
      .promo-slide
        .promo-slide__container
          .promo-slide__info
            .promo-slide__content
              .promo-slide__type Акция
              .promo-slide__title: a(href="#") Скидка 10% на радиоволновое лечение
              .promo-slide__description Удаление доброкачественных образований
            .promo-slide__button
              a(href="#").btn.btn-primary Подробнее
          .promo-slide__img: img(src="images/promo_slide_648х400_11.jpg")
    .swiper-slide
      .promo-slide
        .promo-slide__container
          .promo-slide__info
            .promo-slide__content
              .promo-slide__type Акция
              .promo-slide__title: a(href="#") Скидка при оплате курса процедур
              .promo-slide__description
            .promo-slide__button
              a(href="#").btn.btn-primary Подробнее
          .promo-slide__img: img(src="images/promo_slide_648х400_12.jpg")

  .swiper-btn-prev
    svg(class="svg-icon" viewBox="0 0 17 12" width="17" height="12"): use(xlink:href="#svg-slider-arrow-prev")
  .swiper-btn-next
    svg(class="svg-icon" viewBox="0 0 17 12" width="17" height="12"): use(xlink:href="#svg-slider-arrow-next")
  .swiper-pagination.promo-slider-pagination