.socials
  .socials__item
    a.socials__link(href="#")
      .socials__icon.socials_inst
      .socials__share-info 170 254
  .socials__item
    a.socials__link(href="#")
      .socials__icon.socials_vk
      .socials__share-info 17 926
  .socials__item
    a.socials__link(href="#")
      .socials__icon.socials_fb
      .socials__share-info 56 926
  .socials__item
    a.socials__link(href="#")
      .socials__icon.socials_linkedin
      .socials__share-info 58 906
  .socials__item
    a.socials__link(href="#")
      .socials__icon.socials_pint
      .socials__share-info 12 004
  .socials__item
    a.socials__link(href="#")
      .socials__icon.socials_class
      .socials__share-info 58 906
  .socials__item
    a.socials__link(href="#")
      .socials__icon.socials_tw
      .socials__share-info 34 689
