.socket-panel
  .socket-panel__item.socket-panel__item--desktop
    a.c-btn.c-btn--folded.c-btn--green(href="online-consult.html")
      .c-btn__content
        .c-btn__icon
          svg(class="svg-icon" viewBox="0 0 22 22" width="22" height="22"): use(xlink:href="#svg-video-camera")
        .c-btn__text.c-btn__text--w100 Онлайн<br>консультация
  .socket-panel__item.socket-panel__item--desktop
    .c-btn.c-btn--folded.c-btn--green(data-bs-toggle="modal" data-bs-target="#doctorAppointmentModal")
      .c-btn__content
        .c-btn__icon
          svg(class="svg-icon" viewBox="0 0 21 21" width="21" height="21"): use(xlink:href="#svg-writing-pen")
        .c-btn__text.c-btn__text--w85 Записаться<br>на прием
  .socket-panel__item.socket-panel__item--mobile
    a.c-btn.c-btn--folded.c-btn--green(href="tel:+74950232270")
      .c-btn__content
        .c-btn__icon
          svg(class="svg-icon" viewBox="0 0 23 23" width="23" height="23"): use(xlink:href="#svg-phone")
        .c-btn__text.c-btn__text--w130 Заказать<br>обратный звонок
  .socket-panel__item.socket-panel__item--desktop
    .c-btn.c-btn--folded.c-btn--green(data-bs-toggle="modal" data-bs-target="#backCallModal")
      .c-btn__content
        .c-btn__icon
          svg(class="svg-icon" viewBox="0 0 23 23" width="23" height="23"): use(xlink:href="#svg-phone")
        .c-btn__text.c-btn__text--w130 Заказать<br>обратный звонок
  .socket-panel__item.socket-panel__item--desktop
    .c-btn.c-btn--folded.c-btn--pink(data-bs-toggle="modal" data-bs-target="#doctorCallModal")
      .c-btn__content
        .c-btn__icon
          svg(class="svg-icon" viewBox="0 0 26 25" width="26" height="25"): use(xlink:href="#svg-ambulance")
        .c-btn__text.c-btn__text--w50 Вызов<br>врача
  .socket-panel__item
    a.c-btn.c-btn--folded.c-btn--whatsapp(href="https://wa.me/79253775055")
      .c-btn__content
        .c-btn__icon
          svg(class="svg-icon" viewBox="0 0 23 23" width="23" height="23"): use(xlink:href="#svg-whatsapp")
        .c-btn__text.c-btn__text--w85 Написать<br>в Whatsapp
  .socket-panel__item
    .c-btn.c-btn--scroll.js-scroll-top
      .c-btn__content
        .c-btn__icon
          svg(class="svg-icon" viewBox="0 0 16 23" width="16" height="23"): use(xlink:href="#svg-btn-top-arrow")