.doctors-slider.swiper
  .swiper-wrapper
    .swiper-slide
      a.doctor-card(href="doctor-detail.html")
        .doctor-card__image: img(src="images/doctor_01.png")
        .doctor-card__info
          .doctor-card__name ЦУПКО Игорь Викторович
          .doctor-card__position Терапевт, кардиолог, гериатр, к.м.н.
    .swiper-slide
      a.doctor-card(href="doctor-detail.html")
        .doctor-card__image: img(src="images/doctor_02.png")
        .doctor-card__info
          .doctor-card__name ШЕИН Максим Владимирович
          .doctor-card__position Врач-гастроэнтеролог, врач-гепатолог
    .swiper-slide
      a.doctor-card(href="doctor-detail.html")
        .doctor-card__image: img(src="images/doctor_03.png")
        .doctor-card__info
          .doctor-card__name БЕЛЯЕВА Юлия Викторовна
          .doctor-card__position Врач-психиатр, психотерапевт
    .swiper-slide
      a.doctor-card(href="doctor-detail.html")
        .doctor-card__image: img(src="images/doctor_04.png")
        .doctor-card__info
          .doctor-card__name Сутуло Ирина Алексеевна
          .doctor-card__position Уролог
    .swiper-slide
      a.doctor-card(href="doctor-detail.html")
        .doctor-card__image: img(src="images/doctor_05.png")
        .doctor-card__info
          .doctor-card__name Абдурахимов Рустам Абдуллоевич
          .doctor-card__position Врач ультразвуковой диагностики
    .swiper-slide
      a.doctor-card(href="doctor-detail.html")
        .doctor-card__image: img(src="images/doctor_06.png")
        .doctor-card__info
          .doctor-card__name Трухманова Анна Юрьевна
          .doctor-card__position Главный врач, врач-гастроэнтеролог, врач-терапевт
  .swiper-btn-prev
    svg(class="svg-icon" viewBox="0 0 17 12" width="17" height="12"): use(xlink:href="#svg-slider-arrow-prev")
  .swiper-btn-next
    svg(class="svg-icon" viewBox="0 0 17 12" width="17" height="12"): use(xlink:href="#svg-slider-arrow-next")