.hamburger {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  width: 35px;
  height: 35px;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  span, &:before, &:after {
    height: 3px;
    background-color: $colorGreen;
    border-radius: 2px;
    display: block;
    transition: all 0.1s;
  }
  span {
    width: 30px;
  }
  &:before, &:after {
    position: absolute;
    right: 0;
    content: "";
  }
  &:before {
    width: 35px;
    top: 6px;
  }
  &:after {
    width: 20px;
    bottom: 6px;
  }
  &__text {
    font-weight: 500;
    color: #ffffff;
    font-size: 14px;
    line-height: 1;
  }
}

.mobile-menu-opened {
  .hamburger {
    span {
      opacity: 0;
    }
    &:before, &:after {
      background-color: $colorOrange;
    }
    &:before {
      transform: rotate(-45deg);
      top: 16px;
    }
    &:after {
      transform: rotate(45deg);
      width: 35px;
      bottom: 16px;
    }
  }
}