$baseFont: 'Noto Sans', sans-serif;
$baseTextColor: #3C3C51; /* цвет основного текста */

$colorBlack: #3C3C51;
$colorGrayDark: #D8D8DC;
$colorGrayLight: #F5F5F5;
$colorWhite: #FFFFFF;
$colorOrange: #FF6A29;
$colorPeach: #F88F6D;
$colorPeachLight: #FBE3DD;
$colorGreen: #93BB3E;
$colorGreenLight: #EDF1D3;
