.stock-post {
  &__header {
    margin: 0 0 35px;
  }
  &__content {
    margin: 0 0 45px;
  }
  &__recommend {
    h2 {
      margin: 0 0 25px;
    }
  }
  &__doctor-call {
    margin: 0 0 35px;
  }
}